.container-fluid {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

#main {
  width: 85%;
  margin: 70px auto;
  font-family: sans-serif;
}

table {
  min-width: 1050px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 30px;

  tbody tr {
    opacity: 0;
    transition: .15s;
    animation: fade-in .5s linear var(--transition-delay) forwards;

    &:hover {
      background: #f6f6f6;
    }
  }

  th {
    text-align: left;
    padding: 5px 0 5px 10px;
  }

  @mixin th-width($width) {
    min-width: $width;
    width: $width;
  }

  th:nth-child(1) {
    @include th-width(10%);
  }

  th:nth-child(2) {
    @include th-width(20%);
  }

  th:nth-child(3) {
    @include th-width(20%);
  }

  th:nth-child(4) {
    @include th-width(25%);
  }

  th:nth-child(5) {
    @include th-width(25%);
  }

  td {
    padding: 5px 20px;
    height: fit-content;
  }

  .img-frame {
    border-radius: 50%;
    width: 40%;
    height: 0;
    padding-top: 40%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: auto;
    }
  }

  .text-center {
    text-align: center;
  }

}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

