<div class="container-fluid">
  <app-header></app-header>
  <div id="main">
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>{{ 'First Name' | translate}}</th>
        <th>{{ 'Last Name' | translate }}</th>
        <th>{{ 'Email' | translate}}</th>
        <th class="text-center">{{ 'Avatar' | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="users">
      <tr *ngFor="let user of users; index as id"
          [style]="{'--transition-delay': id*0.05 + 's'}"
      >
        <th>{{user.id}}</th>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>
          <div class="img-frame">
            <img [src]="user.avatar" alt="">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
