<div [ngClass]="{'show' : getAlert}"
     class="alert-box {{getAlert && getAlert.alertType}}">
  <div class="alert-header">
    <div class="alert-icon">
      <!--error icon-->
      <ion-icon *ngIf="getAlert && getAlert.alertType === 'error'"
                name="alert-circle-outline"
      ></ion-icon>
      <!--success icon-->
      <ion-icon *ngIf="getAlert &&getAlert.alertType == 'success'"
                name="checkmark-circle-outline"
      ></ion-icon>
      <!--warning icon-->
      <ion-icon *ngIf="getAlert && getAlert.alertType == 'warning'"
                name="checkmark-circle-outline"
      ></ion-icon>
      <!--alert title-->
    </div>
    <div class="alert-title">{{getAlert && getAlert.title | translate}}</div>
  </div>

  <!--alert message-->
  <div class="alert-message">{{getAlert && getAlert.message | translate}}"</div>
</div>
<!--overlay background-->
<div [ngClass]="{'show' : getAlert}"
     class="overlay"
></div>
