<div id="header">
  <!-- Navbar -->
  <nav class="navbar">
    <!-- Navbar brand -->
    <a [routerLink]="['/']"
       class="navbar-brand"
    >ARF
    </a>
    <ul class="nav">
      <li class="nav-item">
        <app-language></app-language>
      </li>
      <li *ngIf="isSignOut" class="nav-item">
        <a [routerLink]="['/register']"
           routerLinkActive="active"
           class="nav-link"
        >{{ 'Sign up' | translate }}
        </a>
      </li>
      <li *ngIf="!isSignOut" class="nav-item">
        <a class="nav-link"
           (click)="signOut()"
        >{{ 'Sign out' | translate }}
        </a>
      </li>
      <li *ngIf="!isSignOut" class="nav-item">
        <a [routerLink]="['/account']"
           routerLinkActive="active"
           class="nav-link"
           (mouseover)="viewInfoSubmit($event)"
        >{{ 'View info' | translate }}
        </a>
      </li>

    </ul>
  </nav>
</div>
