<div id="header">
  <!-- Navbar -->
  <nav class="navbar">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">ARF</a>
    <ul class="nav">
      <li *ngIf="false" class="nav-item">
        <a [routerLink]="['/register']" class="nav-link">{{ 'Sign up' | translate }}</a>
      </li>
      <li *ngIf="true" class="nav-item">
        <a [routerLink]="['/account']" class="nav-link">{{ 'Sign out' | translate }}</a>
      </li>
      <li *ngIf="true" class="nav-item">
        <a [routerLink]="['/account']" class="nav-link">{{ 'View info' | translate }}</a>
      </li>
    </ul>
  </nav>
</div>
